<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'ofertas' %}">Productos</a>
        <a href="{% url 'carrito' %}">Carrito</a>
    </nav>
    <h1>Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <form method="POST" action="{% url 'producto_seleccionado' producto.id_producto %}">
                    {% csrf_token %}
                    {{producto.nombre_prod}},
                    {{producto.precio}},
                    {{producto.descripcion}}
                    <br>
                    <button type="submit">Agregar al Carro</button>
                </form>
            </li>
        <br><br>
        {% endfor %}
    </ul>
</body>
</html>